@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Orbitron;
    color: #9DB0EC;;
}

a{
    text-decoration: none;
}

header{
    background-color: #9DB0EC;
    padding: 2em;
    display: flex;
}

.header-logo{
    width: 100%;
}

.header-left{
    background-color: white;
    display: flex;
    width: 10em;
    padding: 0.5em;
    border-radius: 2em;
}

.header-right{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: right;
    font-size: 1.2em;
    padding-right: 8em;
}

.header-author{
    margin-right: 5em;
    padding: 0.5em;
    border-radius: 2em;
    transition: ease-in, 0.5s;
    color: white;
}

.header-author:hover{
    background-color: white;
    color: #9DB0EC;

}

.header-language{
    display: flex;
    align-items: center;
}

select{
    border: none;
    outline: none;
    text-align: center;
    border-radius: 2em;
    font-size: 1em;
    padding: 0.5em 0.8em 0.5em 0.8em;
    cursor: pointer;
    color: white;
    background-color: #9DB0EC;
    transition: ease-in, 0.5s;
}

select:hover{
    background-color: white;
    color: #9DB0EC;
}

.main{
    justify-content: center;
    padding-left: 5em;
    padding-right: 5em;
    margin-top: 2em;
}

.main h2{
    color: #9DB0EC;
    font-weight: 600;
    display: flex;
    justify-content: center;
    font-size: 2.3em;
    text-align: center;
    margin-bottom: 0.5em;
}

.main h5{
    color: #9DB0EC;
    font-weight: 400;
    display: flex;
    justify-content: center;
    font-size: 1.9em;
    text-align: center;
    margin-bottom: 0.5em;
}

.main-description{
    display: flex;
    width: 100%;
    margin-top: 5em;
    justify-content: center;
}

.main-description-left{
    background-color: #9DB0EC;
    width: 70%;
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    height: 10em;
    align-items: center;
    border-radius: 2em;
    margin-right: 2em;
}

.main-description-left li{
    color: white;
    margin-top: 0.5em;
}

.main-description-right{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-description-right button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    padding: 0.5em 1em 0.5em 1em;
    border: 3px solid #9DB0EC;
    border-radius: 2em;
    background-color: transparent;
    font-weight: 600;
}

.main-description-right button:hover{
    background-color: #9DB0EC;
    color: white;
}

