@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Orbitron;
    color: #9DB0EC;;
}

a{
    text-decoration: none;
}

header{
    background-color: #9DB0EC;
    padding: 2em;
    display: flex;
}

.header-logo{
    width: 100%;
}

.header-left{
    background-color: white;
    display: flex;
    width: 10em;
    padding: 0.5em;
    border-radius: 2em;
}

.header-right{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: right;
    font-size: 1.2em;
    padding-right: 8em;
}

.header-author{
    margin-right: 5em;
    padding: 0.5em;
    border-radius: 2em;
    transition: ease-in, 0.5s;
    color: white;
}

.header-author:hover{
    background-color: white;
    color: #9DB0EC;

}

.header-language{
    display: flex;
    align-items: center;
}

select{
    border: none;
    outline: none;
    text-align: center;
    border-radius: 2em;
    font-size: 1em;
    padding: 0.5em 0.8em 0.5em 0.8em;
    cursor: pointer;
    color: white;
    background-color: #9DB0EC;
    transition: ease-in, 0.5s;
}

select:hover{
    background-color: white;
    color: #9DB0EC;
}

.main{
    justify-content: center;
    padding-left: 5em;
    padding-right: 5em;
    margin-top: 2em;
}

.main h2{
    color: #9DB0EC;
    font-weight: 600;
    display: flex;
    justify-content: center;
    font-size: 2.3em;
    text-align: center;
    margin-bottom: 0.5em;
}

.main h5{
    color: #9DB0EC;
    font-weight: 400;
    display: flex;
    justify-content: center;
    font-size: 1.9em;
    text-align: center;
    margin-bottom: 0.5em;
}

.main-description{
    display: flex;
    width: 100%;
    margin-top: 5em;
    justify-content: center;
}

.main-description-left{
    background-color: #9DB0EC;
    width: 70%;
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    height: 10em;
    align-items: center;
    border-radius: 2em;
    margin-right: 2em;
}

.main-description-left li{
    color: white;
    margin-top: 0.5em;
}

.main-description-right{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-description-right button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    padding: 0.5em 1em 0.5em 1em;
    border: 3px solid #9DB0EC;
    border-radius: 2em;
    background-color: transparent;
    font-weight: 600;
}

.main-description-right button:hover{
    background-color: #9DB0EC;
    color: white;
}

.newsletter{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.newsletter-box{
    width: 80%;
    border: 5px solid #9DB0EC;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.newsletter-text{
    font-size: 2em;
    text-align: center;
    font-weight: 500;
}

.newsletter-input-position{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.newsletter-input{
    outline: none;
    border: none;
    border: 3px solid #9DB0EC;
    padding: 0 1em 0 1em;
    width: 80%;
    font-size: 1.8em;
    border-radius: 0.5em;
}

.newsletter-button-position{
    display: flex;
    justify-content: center;
}

.newsletter-button{
    outline: none;
    border: 3px solid #9DB0EC;
    background-color: transparent;
    margin-top: 1em;
    font-size: 1.2em;
    padding: 0.5em 0.8em 0.5em 0.8em;
    border-radius: 1em;
    cursor: pointer;
    font-weight: 600;
}

.newsletter-button:hover{
    color: white;
    background-color: #9DB0EC;
}

footer{
    background-color: #9DB0EC;
    margin-top: 3em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.footer-logo-position{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.footer-logo{
    width: 10em;
}

.footer-line{
    display: flex;
    justify-content: center;
}

hr{
    background-color: white;
    height: 2px;
    width: 80%;
}

.footer-links{
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.footer-icon{
    width: 3em;
    margin: 0.5em;
}

.footer-copyright{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.footer-xostrch{
    color: white;
    font-weight: 600;
}

.stages{
    margin-top: 5em;
    display: flex;
    justify-content: center;
}

.stage-box{
    color: white;
    background-color:#9dafeca9;
    height: 8em;
    width: 10em;
    margin: 0 1em 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 1em;
    cursor: pointer;
    transition: ease-in 0.2s;
}

.stage-box:hover{
    background-color:#9DB0EC;
    transform: scale(1.1); 
}

.blur-all{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.stage-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-box{
    color: #9DB0EC;
    z-index: 11;
    background-color: white;
    width: 35em;
    max-height: 40em;
    height: 40em;
    overflow-y: scroll;
    position: relative;
    border-radius: 2em;
    padding-left: 2em;
    padding-right: 2ems;
    padding-top: 1em;
    padding-bottom: 3em;
}

.close-modal-position{
    width: 35em;
}

.close-modal{
    width: 2em;
    right: 0;
    position:absolute;
    margin-right: 1em;
    margin-top: 1em;
    cursor: pointer;
}

.modal-title{
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    margin-top: 3em;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: 600;
}

.modal-content{
    margin-top: 3em;
    padding-left: 2em;
    padding-right: 2em;
}

.list-style-main{
    font-weight: 600;
    font-size: 1.1em;
}

.list-style-main li{
    margin: 0.5em;
}

.list-style-notmain{
    margin-left: 2em;
    font-weight: 300;
    list-style: disc;
    font-size: 0.9em;
}

.list-style-notnotmain{
    margin-left: 2em;
    font-weight: 300;
    list-style: circle;
    font-size: 0.9em;
}

.modal-btns-position{
    display: flex;
    padding-left: 2em;
    margin-top: 2em;
    justify-content: center;
    width: 80%;
}

.modal-btn-done{
    border: 3px solid white;
    font-size: 1.5em;
    background-color: #9DB0EC;
    color: white;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.8em;
    cursor: pointer;
    transition: 0.3s ease-in;
    margin-right: 1em;
}

.modal-btn-done:hover{
    background-color: white;
    border: #9DB0EC 3px solid;
    color:#9DB0EC;
}

.modal-btn-unmark{
    border: 3px solid white;
    font-size: 1.5em;
    background-color: #9DB0EC;
    color: white;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.8em;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.modal-btn-unmark:hover{
    background-color: white;
    border: #9DB0EC 3px solid;
    color:#9DB0EC;
}